---
title: About Us
layout: 'base.njk'
---
<!-- Wrapper -->
<div class="outer-wrapper">
	
	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner about">

			
			<div>
				<h1 class="major">About Us</h1>
				<p>Welcome to Unbounded Research and Development, your ally in computer graphics innovation. Led by Dr. Russell Campbell, we are a go-to resource for top-tier studios needing to refine their graphics systems for video games and films.</p>
				<p>Our founders are distinguished speakers at the Game Developers Conference (GDC) Technical Artist Summit and leading voices in the industry. We are continually investigating new techniques, algorithms, and tools, ensuring we're at the industry's forefront.</p>
				<p>We offer a range of asset packs, including sought-after shaders. Our assets are designed to integrate seamlessly into your existing pipelines, helping artists and developers save time and focus on creativity.</p>
				<p>At Unbounded, we go beyond delivering excellent results; we collaborate with you to make your graphics vision a reality. We believe in the power of imagination and strive to make it tangible. Partner with us today for an unbounded exploration in computer graphics.</p>
			</div>
			
			<div class="container">
				<img src="/assets/images/RussellProfile.jpg" alt="Dr. Russell Campell" class="circular-image">
				<h1>Dr. Russell Campbell</h1>
				<p>
					As a dedicated computer scientist, educator, and founder of Unbounded Research and Development, Dr. Russell Campbell is passionate about driving innovation in graphics and digital media. Holding a position as a Computer Science Professor at the University of the Fraser Valley, he also enjoys independent game development, graph algorithms, and teaching programming.
				</p>
				<p>
					Learn more about Dr. Campbell's work and connect with him through these social media links:					
				</p>
				<div class="social-links">
					<a href="https://www.youtube.com/@3Dperson" target="_blank">YouTube</a>
					<a href="https://twitter.com/RussCampell" target="_blank">Twitter</a>
					<a href="https://cisweb.ufv.ca/~campbelr/public" target="_blank">UFV Faculty Page</a>
				</div>
			</div>
		</div>
	</section>
</div>
