---
title: Blog
layout: 'base.njk'
---
<!-- Wrapper -->
<div class="outer-wrapper">
	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">

            <div>
                <h1 class="major">Recent Articles</h1>

                <ul role="list" class="blog">
                    {%- for post in collections.post | reverse -%}
                        <li>
                            <article>
                                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt}}" class="snippet_image">
                                <h3>{{ post.data.title }}</h3>
                                <p>by <span>"{{ post.data.author }}"</span> on <span>{{ post.date | postDate }}</span></p>
                                <p>{{ post.data.description }}</p>
                                <a href="{{ post.url }}" class="button">Continue Reading</a>
                            </article>
                        </li>
                    {%- endfor %}
                </ul>
            </div>

		</div>
	</section>
</div>