---
title: Unbounded Innovation Lab
layout: 'base.njk'
---
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f5371f177e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/innovation.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/media.css">

    <script src="/assets/js/rectangle.js"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="https://unpkg.com/intersection-observer"></script>
</head>

    <section class="wrapper">
        <section class="scroll-section inner title">
            <h1 class="major">Innovation Lab</h1>
            <div class="container">
                <div class="video-wrapper">
                    <video controls>
                        <source src="/assets/videos/innovationIntro.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>

        <!-- Free Trial -->
        <section class="scroll-section">
            <div class="course-info">
                <div class="class-container">
                    <h1>Free Trial</h1>
                </div>
                <div class="details">
                    <a href="/assets/documents/Intro to Computer Graphics Free Trial Curriculum.pdf" class="button"><h4>More<h4></a>
                </div>
                <h4>Deepen your understanding of computer graphics and shader programming through our 1-month mentorship. Learn advanced techniques and explore the academic landscape of computer graphics science.</h4>
            </div>
            
            <div class="rectangle-container">
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Core Instruction</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Gain fundamental insights into the world of computer graphics. The concepts explored here are pivotal in various fields such as game development and VFX.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Grasp the essence and function of computer graphics in computer science</li>
                        <li>Design and analyze shaders</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Custom rendered 3D scene project</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>
            </div>
        </section>

        <!-- Graphics & AI Curriculum -->
        <section class="scroll-section">
            <div class="course-info">
                <div class="class-container">
                    <h1>Graphics & AI Curriculum</h1>
                </div>
                <div class="details">
                    <a href="/assets/documents/Innovation Lab Graphics + AI Curriculum.pdf" class="button"><h4>More<h4></a>
                </div>
                <h4>Immerse yourself in a comprehensive 6-month mentorship that offers expertise in computer graphics, AI, shader programming, and research. Undertake real-world projects, publish papers, and hone vital soft skills for a successful future.</h4>
            </div>

            <!-- Core Instruction -->
            <div class="rectangle-container">
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Core Instruction</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Build solid foundations in both computer graphics and artificial intelligence, cornerstones of various fields such as game development, VFX, and AI</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Grasp the roles of computer graphics and AI in computer science</li>
                        <li>Design and analyze shaders</li>
                        <li>Comprehend the role and function of AI in computer graphics</li>
                        <li>Develop and utilize AI models</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Fragment shader art project</li>
                        <li>Custom rendered 3D scene project</li>
                        <li>AI model</li>
                        <li>Artist tool incorporating both shaders and AI</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Collaborate With Scientists -->
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Collaborate With Scientists</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Experience the vitality of collaboration in large-scale projects. Engage with seasoned scientists and contribute to innovative features in extensive open-source projects spearheaded by Unbounded Research and Development.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Understand effective collaboration</li>
                        <li>Expand on existing projects</li>
                        <li>Develop comprehensive documentation for projects</li>
                        <li>Analyze project shortcomings and propose improvements</li>
                        <li>Develop new features for open source projects</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Newly added features to an open-source project</li>
                        <li>Comprehensive feature documentation</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Publish Research -->
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Publish Research</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Launch into the realm of academic research and leave your mark on the scientific community. Develop and publish an academic paper under the guidance of experienced mentors, demonstrating your commitment to advancing knowledge and science.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Recall relevant research methodologies and literature</li>
                        <li>Understand the significance of research questions and ethical considerations</li>
                        <li>Develop effective research strategies and data analysis techniques</li>
                        <li>Identify knowledge gaps and complex issues</li>
                        <li>Evaluate research design and academic papers for quality</li>
                        <li>Develop compelling research projects and academic articles</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Research proposal</li>
                        <li>Research draft</li>
                        <li>Published research paper</li>
                        <li>Presentation on research paper</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>
            </div>
        </section>

        <!-- Game Development -->
        <section class="scroll-section">

            <div class="course-info">
                <div class="class-container">
                    <h1>Game Development</h1>
                </div>
                <div class="details">
                    <a href="/assets/documents/Innovation Lab Game Development Curriculum.pdf" class="button"><h4>More<h4></a>
                </div>
                <h4>Embark on a thrilling 22-week journey through the intricacies of game development. Craft your very own fully-animated video game, from conception to completion, while also publishing an academic research paper. This immersive program explores computer graphics, game engines, and artificial intelligence.</h4>
            </div>

        <div class="rectangle-container">
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>

                <!-- Core Instruction -->
                <h3>Core Instruction</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Learn the foundations of game development. These technologies and techniques are key to enabling you to design and build your own game.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Grasp the purpose and function of game engines</li>
                        <li>Develop video game concepts</li>
                        <li>Understand the role of AI in game development</li>
                        <li>Design animation state machines</li>
                        <li>Understand collision detection mechanisms and their role</li>
                        <li>Analyze video game performance</li>
                        <li>Develop a game from concept to completion</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Side scroller game</li>
                        <li>First-person shooter game</li>
                        <li>Game concept document</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Collaborate With Scientists -->
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Collaborate With Scientists</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Experience the vitality of collaboration in large-scale projects. Engage with seasoned scientists and contribute to innovative features in extensive open-source projects spearheaded by Unbounded Research and Development.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Understand effective collaboration</li>
                        <li>Expand on existing projects</li>
                        <li>Develop comprehensive documentation for projects</li>
                        <li>Analyze project shortcomings and propose improvements</li>
                        <li>Develop new features for open source projects</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Newly added features to an open-source project</li>
                        <li>Comprehensive feature documentation</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Publish Research -->
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Publish Research</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Launch into the realm of academic research and leave your mark on the scientific community. Develop and publish an academic paper under the guidance of experienced mentors, demonstrating your commitment to advancing knowledge and science.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Recall relevant research methodologies and literature</li>
                        <li>Understand the significance of research questions and ethical considerations</li>
                        <li>Develop effective research strategies and data analysis techniques</li>
                        <li>Identify knowledge gaps and complex issues</li>
                        <li>Evaluate research design and academic papers for quality</li>
                        <li>Develop compelling research projects and academic articles</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Research proposal</li>
                        <li>Research draft</li>
                        <li>Published research paper</li>
                        <li>Presentation on research paper</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>
            </div>
        </section>

        <!-- Video Game Music -->
        <section class="scroll-section">
            
            <div class="course-info">
                <div class="class-container">
                    <h1>Video Game Music</h1>
                </div>
                <div class="details">
                    <a href="assets/documents/Innovation Lab Music Composition and Procedural Audio for Video Games Curriculum.pdf" class="button"><h4>More<h4></a>
                </div>
                <h4>Enter the world of game music composition with our 22-week mentorship program. Master the art of creating immersive soundscapes, combining traditional techniques and innovative concepts like procedural music and meta sounds. Collaborate with game developers, feature your compositions in a real game, and conclude with a published academic paper under expert guidance.</h4>
            </div>

            <!-- Core Instruction -->
            <div class="rectangle-container">
                <div class="rectangle" onclick="checkDevice(event)">
                    <i class="fas fa-times close-button"></i>
                    <h3>Core Instruction</h3>
                    <button class="expandable" onclick="toggleExpandable(event)">Description
                        <ul class="hidden">
                            <li>Discover the foundations of music composition for video games and procedural audio, which will empower you to create original compositions and procedural audio effects.</li>
                        </ul>
                    </button>
                    <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                        <ul class="hidden">
                            <li>Comprehend the function of music in video games and procedural audio</li>
                            <li>Create procedural music and audio</li>
                            <li>Identify different styles and genres of video game music</li>
                            <li>Grasp basic music theory concepts</li>
                            <li>Set up your computer environment for music production</li>
                            <li>Use Digital Audio Workstations (DAWs) and MIDI for music composition</li>
                            <li>Create custom sounds using sound design techniques and synthesizers</li>
                            <li>Implement music and sound effects in game engines and collaborate with game developers on a real game project</li>
                        </ul>
                    </button>
                    <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                        <ul class="hidden">
                            <li>Original composition</li>
                            <li>Procedural audio effects</li>
                            <li>Integration of your composition and procedural audio in a game</li>
                        </ul>
                    </button>
                    <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
                </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Collaborate With Scientists -->
            <div class="rectangle" onclick="checkDevice(event)">
                    <i class="fas fa-times close-button"></i>
                    <h3>Collaborate With Scientists</h3>
                    <button class="expandable" onclick="toggleExpandable(event)">Description
                        <ul class="hidden">
                            <li>Experience the vitality of collaboration in large-scale projects. Engage with seasoned scientists and contribute to innovative features in extensive open-source projects spearheaded by Unbounded Research and Development.</li>
                        </ul>
                    </button>
                    <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                        <ul class="hidden">
                            <li>Understand effective collaboration</li>
                            <li>Expand on existing projects</li>
                            <li>Develop comprehensive documentation for projects</li>
                            <li>Analyze project shortcomings and propose improvements</li>
                            <li>Develop new features for open source projects</li>
                        </ul>
                    </button>
                    <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                        <ul class="hidden">
                            <li>Newly added features to an open-source project</li>
                            <li>Comprehensive feature documentation</li>
                        </ul>
                    </button>
                    <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

            <div class="arrow">
                <i class="fa-solid fa-arrow-right-long fa-2xl"></i>
            </div>

            <!-- Publish Research -->
            <div class="rectangle" onclick="checkDevice(event)">
                <i class="fas fa-times close-button"></i>
                <h3>Publish Research</h3>
                <button class="expandable" onclick="toggleExpandable(event)">Description
                    <ul class="hidden">
                        <li>Launch into the realm of academic research and leave your mark on the scientific community. Develop and publish an academic paper under the guidance of experienced mentors, demonstrating your commitment to advancing knowledge and science.</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Learning Outcomes
                    <ul class="hidden">
                        <li>Recall relevant research methodologies and literature</li>
                        <li>Understand the significance of research questions and ethical considerations</li>
                        <li>Develop effective research strategies and data analysis techniques</li>
                        <li>Identify knowledge gaps and complex issues</li>
                        <li>Evaluate research design and academic papers for quality</li>
                        <li>Develop compelling research projects and academic articles</li>
                    </ul>
                </button>
                <button class="expandable" onclick="toggleExpandable(event)">Deliverables
                    <ul class="hidden">
                        <li>Research proposal</li>
                        <li>Research draft</li>
                        <li>Published research paper</li>
                        <li>Presentation on research paper</li>
                    </ul>
                </button>
                <i class="fa-solid fa-up-right-and-down-left-from-center expand-icon hide-on-mobile"></i>
            </div>

        </section>
    </section>
    <script src="/assets/js/scroller.js"></script>