<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% if title != 'Unbounded Innovation Lab' %}
        <link rel="stylesheet" href="/assets/css/main.css"/>
        {% endif %}
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
		<script src="https://cdn.babylonjs.com/babylon.js"></script>
		<script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
		<script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
	</head>
	<body class="is-preload">
		{% include 'header.njk' %}
		<main>
			{{ content | safe }}
		</main>
		
		{% include 'footer.njk' %}
		{% include 'scripts.njk' %}
	</body>
</html>