<!-- Header -->
<header id="header">
    <a href="/"><span class="red">Un</span><img src="/assets/images/mirror.png" alt="logo" width="20px" height="30px"><span class="blue">bounded</span></a>  
    <div class="hamburger">
        <i class="fas fa-bars"></i>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/assets/" {% if '/assets/' == page.url %}class="active"{% endif %}>Assets</a></li>
            <li><a href="/partner/" {% if '/partner/' == page.url %}class="active"{% endif %}>Service</a></li>
            <li><a href="/about_us/" {% if '/about_us/' == page.url %}class="active"{% endif %}>About</a></li>
            <li><a href="/research/" {% if '/research/' == page.url %}class="active"{% endif %}>Research</a></li>
            <li><a href="/innovation/" {% if '/innovation/' == page.url %}class="active"{% endif %}>Innovation</a></li>
            <li><a href="/blog/" {% if '/blog/' == page.url %}class="active"{% endif %}>Blog</a></li>
        </ul>
    </nav>
</header>